<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Lists of Cellphones</ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/cellphones-img/cel1.png">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>New Samsung Galaxy 1</h2>
        <h3>Promo Online</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/cellphones-img/cel2.jpeg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>New Samsung Galaxy 2</h2>
        <h3>Available on stores</h3>
      </ion-label>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/cellphones-img/cel3.jpg">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>New Samsung Galaxy 3</h2>
        <h3>Promo Online</h3>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>